{{!-- make container for page --}}
<div class='container'>
    {{!-- title --}}
    <h1>Burger Mania!</h1>
    {{!-- create row with three columns --}}
    <div class="row">
        {{!-- column for burger to eat --}}
        <div class="col-4">

            {{!-- show burgers to eat as list --}}
            <h4>to be eaten</h4>
            {{!-- create form and form group elements --}}
            <form class='create-form'>

                <ul>
                    {{!-- list database entries where devoured is false --}}
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <li>
                        <p><span class='label'>ID </span>{{this.id}}</p>
                        <p><span class='label'>Burger </span>{{this.burger_name}}</p>
                        <p><span class='label'>Devoured </span>{{this.devoured}}</p>

                        <form action="burgers/update/{{this.id}}?_method=PUT" method='POST'>
                            <input type='hidden' name='devoured' value='true'>
                            <button type='submit'>Devour</button>
                        </form>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </form>
            <h5>Adda burger{{this.id}}</h5>
            <form class="update-form" action="/burgers/create" method='POST'>

                <div class="form-group">
                    {{!-- <label for="auth">:</label> --}}
                    <input type="text" name="sandwich" placeholder="your choice">
                </div>

                {{!-- <div class="form-group">
                    <label for="quo">Quote:</label>
                    <textarea id="quo" name="quote" rows="8" cols="40">{{this.quote}}</textarea>
                </div> --}}

                <button type="submit">Update Burger List</button>
            </form>


        </div>
        {{!-- column for image --}}
        <div class="col-4">
            <h2>Image Placeholder</h2>
        </div>
        {{!-- column for devoured burgers --}}
        <div class="col-4">

            {{!-- show burgers devoured as list --}}
            <h4>in the pit</h4>
            <ul>
                {{!-- list database entries where devoured is true --}}
                {{#each burgers}}
                {{#if this.devoured}}
                <li>
                    <p><span class='label'>ID </span>{{this.id}}</p>
                    <p><span class='label'>Burger </span>{{this.burger_name}}</p>
                    <p><span class='label'>Devoured </span>{{this.devoured}}</p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>